@import 'variables.css';

/* common */
.container {
    position: relative;
		z-index: 1 !important;
    width: auto;
}

.dashboardBox {
    flex: 0 1 400px;
    margin-right: 25px;
}

.unorderedList {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-flow:column;
    margin-top: 20px;
    margin-bottom: 22px !important;
}

.workSummary {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: auto;
}

.pageTitle {
    position: relative;
    top: 10px;
}

.countRow, .countText, .checkboxLabel, .chosen, .workNameLabel, .goWhere, .personal, .text, .calendarLink, .classification, .tableLabelClass {
    font-family: var(--generalFont, sans-serif);
    font-weight: normal;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
		font-size: 12px !important;
}

.text {
  font-size: 12px;
}

.workNameLabel {
    margin-left: 13px;
    margin-bottom:-6px !important;
}

.menuItem {
    display: block;
    color: black;
    cursor: pointer;
    font-family: var(--generalFont, sans-serif);
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 286%;
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 4px;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    z-index: 1;
}

.current {
    margin-top: 5px;
    background-color: #ffcc66;
    color: white;
}

.workNameInput {
    margin-left: 10px;
}

.marginLeft {
    margin-left: 15px;
}

.goWhere {
    color: var(--blue, blue);
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 20px !important;
}

.loading {
    margin-top: 20px;
    height: 50px;
}

.implemented {
    font-weight: bold !important;
    color: maroon;
}

.courseEntryManage {
  margin-left: 12px;
}

.row {
  display: flex !important;
  flex-flow: row !important;
}

.listButton {
  position: relative;
  top: 10px;
  left: -7px;
}

.moreBottomMargin {
  margin-bottom: 22px !important;
}

.personal {
  font-style: italic;
  color: var(--gray, gray);
  text-transform: lowercase;
  margin-right: 4px;
  font-size: 10px;
}

.calendarLink {
  cursor: pointer;
  margin-left: 20px;
  color: var(--linkMaroon, maroon);
  text-decoration: none;
  font-weight: bold;
}

.topSpace {
  margin-top: 8px !important;
}

.noWrap {
  white-space: nowrap;;
}

.classification {
    width: 100%;
    color: white;
    background-color: var(--blue, blue);
    font-size: 12px;
    margin-top: 6px;
    padding-left: 5px;
    border-radius: 3px;
		padding-top: 2px;
		padding-bottom: 2px;
}

.tableLabelClass {
    font-size: 8pt !important;
    text-align: left !important;
    font-weight: bold !important;
    padding-right: 2px;
    text-decoration: underline;
}

.dashboardColumn {
    display: flex;
    flex-flow: column;
    margin-bottom: 25px;
}

.desktopCalendar {
    max-height: 500px !important;
}

.tabs {
	background-color: var(--blue, blue);
	border-radius: 9px 9px 0px 0px;
	border-radius-bottom: 4px;
	color: var(--blue, blue);
	font-size: 11px;
	align-items: center;
	text-transform: capitalize;
	width: 90px !important;
	height: 30px !important;
	cursor: pointer;
	padding: 4px;
	margin-right: 7px;
	opacity: .7;
	margin-top: 3px;
}

.tabChoice {
	background-color: white;
	opacity: 1 !important;
	border-left: 1px solid #147EA7;
	border-right: 1px solid #147EA7;
	border-top: 1px solid #147EA7;
}

.menuItem {
    display: block;
    color: black;
    cursor: pointer;
    font-family: var(--generalFont, sans-serif);
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 286%;
    margin-left: 14px;
    margin-right: 4px;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    /* z-index: 99; */
}

.link {
		font-size: 12px;
		color: var(--blue, blue);
		text-decoration: none;
		margin-left: 5px;
		cursor: pointer;
		margin-top: 3px !important;
}

.link:hover {
		text-decoration: underline;
}

.iconRight {
	margin-left: 4px !important;
	margin-right: 8px !important;
	margin-top: 4px;
  width: 12px !important;
	position: relative;
	top: 4px;
	left: 4px;
}

.bitTop {
	margin-top: 3px !important;
}

.scrollable {
		overflow-y: auto;
		overflow-x: auto;
		height: auto;
		width: auto;
		max-width: 1200px;
		max-height: 500px;
}

.icon {
  margin-left: 8px;
  margin-top: 4px;
  width: 16px;
}

.moreWidith {
	width: 150px;
}

.count, .whiteCount {
	  font-family: var(--generalFont, sans-serif);
	  font-weight: normal !important;
	  letter-spacing: normal;
	  text-rendering: optimizelegibility;
	  margin-left: 4px;
	  /* margin-top: 16px; */
	  font-size: 9pt;
	  color: var(--gold, gold);
}

.whiteText {
	color: white;
}

.whiteCount {
	color: white !important;
}

.iconLabel {
	margin-right: 8px;
	margin-top: 12px;
}

.calendarHeight {
	height: 500px;
	max-width: 1000px;
	width: auto;
	margin-right: 5px;
	/* min-height: 400px; */
	/* height: auto; */
}

.someBottom {
	margin-bottom: 5px;
}

.checkboxGroupPosition {
	margin-left: 20px;
	margin-bottom: 5px;
}

.rowWrap {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.chosen {
	color: var(--maroon, maroon) !important;
	font-weight: bold !important;
}

.calendarCheckbox {
	margin-left: 8px !important;
	margin-top: 14px !important;
}

.countRow {
	display: flex;
	flex-flow: row;
	margin-left: 12px !important;
	font-weight: bold;
}

.countText {
	font-weight: normal !important;
	margin-left: 3px;
	margin-right: 3px;
}

.moreLeft {
	margin-left: 12px !important;
}

.multiSelect, .multiSelectLonger {
    z-index: 99 !important;
    width: auto;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 8px;
		margin-right: 6px;
    margin-left: 6px;
}

.multiSelect {
	min-width: 135px !important;
}

.multiSelectLonger {
	min-width: 150px !important;
}

.moreBottom {
	margin-bottom: 10px;
}
