@import 'variables.css';

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: auto;
    z-index: -1;
    margin-left: 10px;
    margin-top: 8px;
		max-width: 650px;
}

.cancelButton {
    width: auto;
    margin-right: 8px;
    margin-left: 2px;
    font-weight: normal;
	font-family: var(--generalFont, sans-serif);
	text-rendering: optimizelegibility;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    color: #9db0b4;
}

.cancelButton:hover {
    color: var(--linkMaroon, maroon);
    text-decoration: underline;
}


.resendButton {
    margin-left: 15px;
    background: linear-gradient(#67ae55, #578843);
  	background-color: #69a74e;
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: white;
  	cursor: pointer;
  	display: inline-block;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	font-weight: bold !important;
  	letter-spacing: 1px;
  	line-height: 9%;
  	margin-top: 8px;
  	min-width: 55px;
  	padding: 6px 8px;
  	position: relative;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    outline: none;
}


.title, .label, .text, .fullName, .entryDate, .cancelButton {
    font-family: var(--generalFont, sans-serif);
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 11px;
    color: var(--gray, #c4c4bc);
}

.title {
    font-size: 12px;
}

.rowTop {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.row {
    display: flex;
    flex-flow: row;
    flex-flow: nowrap;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.rowLeft {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.list {
    margin-left: 22px !important;
    margin-top: 8px !important;
    margin-right: 8px !important;
}

.jef_caret {
    position: relative;
    margin-right: 30px !important;
    cursor: pointer;
}

.jef_caret:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 8px solid #948c8c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.jef_caret:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    border-top: 4px solid #ffffff;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}

.jefCaretDown{
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
}

.jefCaretUp{
    background-color: #ffcc66;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.bottomMargin {
    margin-bottom: 10px;
}

.pendingLabel {
    font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 15px;
    color: var(--linkMaroon, maroon);
    cursor: pointer;
    margin-top: 5px;
}

.fullName {
    width: auto;
    margin-right: 8px;
    margin-left: 2px;
}

.entryDate {
    width: auto;
    margin-right: 8px;
    margin-left: 2px;
}

.marginLeft {
    margin-left: 20px;
}
