@import 'variables.css';

.link, .enabledText, .disabledText {
    font-family: var(--generalFont, sans-serif);
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 12px;
}

.moreLeft {
	margin-left: 10px;
}

.moreBottomMargin {
    margin-bottom: 10px;
}

.enabledText, .disabledText {
		position: relative;
		top: 22px;
		margin-right: 10px;
}

.enabledText {
		font-size: 12px;
		color: var(--green, green);
		text-decoration: none;
		cursor: pointer;
}

.enabledText:hover {
		text-decoration: underline;
}

.disabledText {
		font-size: 12px;
		color: var(--gray, gray);
		text-decoration: none;
		cursor: not-allowed;
}

.link, .whiteLink, .groupChoice {
		font-size: 12px;
		text-decoration: none;
		cursor: pointer;
		color: var(--blue, blue);
}

.red {
	color: var(--red, red);
	margin-top: 5px;
}

.row {
    display: flex;
    flex-flow: row;
		flex-wrap: wrap;
}
