@import 'variables.css';

/* common */
.container {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    margin-left: 15px;
}

.label {
  font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
}

.label {
  font-size: 12px;
}

.rowRight {
		display: flex;
		flex-flow: row;
    margin-left: 150px;
}


.moreLeft {
	margin-left: 35px;
}

.instructions {
		font-size: 10px;
		cursor: pointer;
		color: var(--green, green) !important;
		margin-top: 4px;
		margin-left: 15px;
		margin-right: 15px;
}

.checkboxSpace {
	margin-top: 8px;
}
