@import 'variables.css';

.container, .upperDisplay {
    z-index: 399;
    max-width: 500px !important;
}

.yesButton {
    margin-left: 15px;
    background: linear-gradient(#67ae55, #578843);
  	background-color: #69a74e;
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: white;
  	cursor: pointer;
  	display: inline-block;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	font-weight: bold !important;
  	letter-spacing: 1px;
  	line-height: 9%;
  	margin-top: 8px;
  	min-width: 55px;
  	padding: 6px 8px;
  	position: relative;
  	text-align: center;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    outline: none;
}

.yesButton:active {
    transform: scaleX(.89);
}


.dialogHeader {
    margin-left: 20px !important;
    margin-top: 8px  !important;
    margin-bottom: 6px  !important;
    font-size: 9pt;
    font-weight: bold;
}

.dialogExplain {
    font-size: 12px;
    margin-left: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.dialogButtons {
    text-align: center;
    margin-bottom: 6px !important;
}

.noButton {
    font-weight: normal;
	font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    color: #9db0b4;
}

.noButton:hover {
    color: #353e40 !important;
}

.currentSentence {
    padding-top: 2px;
    font-weight: normal;
	font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
    font-size: 10px;
    color: black;
    font-style: italic;
    margin-left: 15px;
    max-width: 250px !important;
}

.tableLabelClass {
  font-size: 8pt !important;
  text-align: left !important;
  font-weight: bold !important;
  padding-right: 2px;
  text-decoration: underline;
  font-family: var(--generalFont, sans-serif);
  font-weight: normal !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}
