@import 'variables.css';

.container {
    position: relative;
    left: 0;
    top: 0;
		width: 95%;
    height: 95%;
    margin-left: 10px;
}

.labelCheckbox, .label, .cancelLink, .checkboxLabel {
  font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
}

.row {
		display: flex;
		flex-flow: row;
}

.rowWrap {
		display: flex;
		flex-flow: row;
    flex-wrap: wrap;
}

.cancelLink {
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    color: #4f5253;
    margin-top: 10px;
}

.moreTop {
	margin-top: 8px;
}

.checkboxPosition  {
	margin-top: 8px;
	margin-left: 10px;
}

.moreBottom {
	margin-bottom: 12px;
}

.label {
	font-size: 12px;
}

.checkbox {
	margin-bottom: 8px;
}

.moreLeft {
	margin-left: 20px;
}

.moreMarginBottom {
	margin-bottom: 15px !important;
}

.muchLeft {
	margin-left: 140px;
}

.checkOutPosition {
	margin-left: 20px;
	margin-bottom: 8px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.moreSpace {
	margin-top: 6px !important;
	/* margin-bottom: 8px !important; */
}

.moreTopMargin {
	margin-top: 8px !important;
}

.topPosition {
	position: relative !important;
	top: 21px !important;
}

.text {
	font-size: 12px;
}

.headerLabel {
	font-size: 12px;
	font-weight: bold;
}

.siblingPosition {
	margin-left: 7px;
	margin-top: 28px;
}

.labelPosition {
	margin-left: 5px;
	margin-top: 10px;
}

.moreRight {
	margin-right: 8px !important;
}

.littleTop {
	margin-top: 3px;
}

.muchTop {
	margin-top: 6px;
}

.labelCheckbox {
		margin-left: -2px !important;
    margin-right: 9px !important;
    font-size: 12px;
}

.checkbox {
		margin-top: 8px;
}

.icon {
	width: 13px;
	position: relative;
	top: -3px;
	margin-left: 8px;
	margin-bottom: 3px;
}
