@import 'variables.css';

.profileContainer {
    width: 120px;
    height: 300px;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 15px;
    -webkit-transition: width 1s; /* Safari */
    -webkit-transition-delay: 1s; /* Safari */
    transition: width 3s;
    transition-delay: 1s;

}

.innerContainer  {
    display:flex;
    justify-content: flex-start;
    flex-direction: row nowrap;
}

.link {
    color: black;
    flex-wrap: nowrap;
  	cursor: pointer;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	letter-spacing: 1px;
  	line-height: 126%;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    text-decoration: none;

    &:hover {
        color: var(--linkHoverColor, yellow);
    }
}

.icon {
    position: relative;
    top:3px;
    height: 15px;
    opacity: .7;
    margin-right:3px;
}

.line  {
      width: 90%;
}
