@import 'variables.css';

.container {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.first {
    color: #147EA7;
}

.second {
    color: #095c7d;
}

.third {
    color: #bb871d;
}

.fourth {
    color: #e69b05;
}

.label {
    font-size: 12px;
    font-weight: bold;
    font-family: var(--generalFont, sans-serif);
    letter-spacing: normal;
    text-rendering: optimizelegibility;
}

.blue {
	color: var(--blue, blue) !important;
}
