@import 'variables.css';
@import 'rc-time-picker/assets/index.css';

/* common */
.container {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
}

.unorderedList {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-flow:column;
}

.whiteLine {
    color:white;
    opacity: .5;
    width:140px;
    text-align:left;
    margin-left:15px;
    margin-top:10px;
}

.singleDropDown {
  /*margin-top: 6px !important;*/
  margin-left: 4px;
  font-size: 12px;
}

.menuItemContainer {
  display: flex;
  justify-content: flex-start;
  flex-flow:row;
}

.rightArrow {
  float: right;
  margin-top: 8px;

}

.spreadToRight {
  justify-content: space-between !important;
}

.subMenuArrow {
  width: 100%;
  margin-right: 4px;
  cursor: pointer;
}

.workSummary {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: auto;
}

.pageTitle {
    position: relative;
    top: 10px;
}

.linkPosition, .error, .label, .instructions, .commentTextarea, .link, .inputText, .labelCheckbox, .subHeading, .menuHeader {
    font-family: var(--generalFont, sans-serif);
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 12px;
}

.subHeader {
    font-size: 13px;
    font-weight: bold;
}

.smallerSubHeader {
    font-size: 12px;
    font-weight: normal;
    margin-left: 15px;
    margin-top: 2px;
}

.selectLabelClass {
    margin-bottom:-4px !important;
}

.workNameLabel {
    margin-left: 13px;
    margin-bottom:-6px !important;
}

.selectListClass {
    margin-top: 10px !important;
    margin-left: 10px !important;
    mmargin-bottom: 10px !important;
}

.menuItem {
    display: block;
    color: black;
    cursor: pointer;
    font-family: var(--generalFont, sans-serif);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 286%;
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 4px;
    text-align: left;
    text-rendering: optimizelegibility;
    text-decoration: none;
    -webkit-transition: all .8s;
    transition: all .8s;
    z-index: -1;
}

.dateRow {
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

.dateColumn {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
}

.dateTimePicker {
    margin-top: 0px;
    margin-left: 8px;
    font-size: 12px;
    border-radius: 4px;
}

.dueDateLabel {
    margin-left: 15px;
}

.current {
    margin-top: 5px;
    background-color: #ffcc66;
    color: white;
}

.workNameInput {
    margin-left: 10px;
}

.marginLeft {
    margin-left: 15px;
}

.error {
    color: var(--red, red);
}

.labelHigher {
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: 12px;
}

.messageBox {
    margin-right: 6px;
	font-family: var(--generalFont, sans-serif);
	letter-spacing: normal;
	text-rendering: optimizelegibility;
    border-radius: 5px;
    border: 1px solid #d1d9de;
    background: #fff !important;
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 12px;
    padding: 2px;
    padding-left: 5px;
    /* outline: none; */
    font-weight: bold;
}

.messageBox:focus {
    box-shadow: 0 0 0 2px #297e2d;
}

.input {
    margin-bottom: 10px;
}

.inputControls {
    margin-left: 10px;
}

.inputText {
    font-size: 12px;
}

.moreMarginBottom {
    margin-bottom: 10px !important;
}

.checkbox {
    margin-top: 15px !important;
}

.timePicker {
    width: 100px;
}

.row {
    display: flex;
    flex-flow: row;
}

.label {
    font-size: 12px;
}

.duration {
    margin-left: 15px;
    margin-top: 6px;
}

.marginLeft {
    margin-left: 10px;
}

.multiSelect {
    z-index: 99 !important;
    min-width: 100px;
    width: auto;
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 10px;
}

.moreBottomMargin {
    margin-bottom: 10px !important;
}

.submitButton {
    background: linear-gradient(#67ae55, #578843);
  	background-color: #69a74e;
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: white;
  	cursor: pointer;
  	display: inline-block;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	font-weight: bold !important;
  	letter-spacing: 1px;
  	line-height: 116%;
    margin-top: 8px;
  	margin-left: 12px;
  	min-width: 50px;
  	padding: 2px 5px;
  	position: relative;
		top: -8px;
  	text-align: center;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    outline: none;
}

.submitButton:active {
    transform: scaleX(.89);
    background: linear-gradient(#aec3a9, #578843);
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: gray;
  	cursor: default;
}

.submitButton:hover {
    box-shadow: 0 0 0 1px #297e2d;
}

.dateButton {
    position: relative;
    top: 11px;
    background: linear-gradient(var(--blue, blue), #445d88);
    background-color: var(--blue, blue) !important;
    height: 20px !important;
}

.classification {
    width: 100%;
    color: white;
    background-color: var(--blue, blue);
    font-size: 12px;
    margin-top: 6px;
    padding-left: 5px;
    border-radius: 3px;
		padding-top: 2px;
		padding-bottom: 2px;
}

.error {
    color: var(--red, red);;
    font-size: 12px;
    opacity: 1;
}

.tableData {
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.cellSpacing {
    margin-right: 20px;
}

.tableMargin {
    margin-left: 20px;
    margin-bottom: 7px;
}

.noData {
    font-size: 12px;
    font-style: italic;
}

.radio {
		margin-top: 5px;
    margin-left: 5px;
}

.radioLabels {
    font-size: 12px;
    margin-left: 3px !important;
    margin-bottom: 13px !important;
    margin-top: -10px !important;
    cursor: pointer;
    text-decoration: none;
}

.radioLabels:hover {
    text-decoration: underline;
}

.radioClass {
    margin-top: 10px !important;
}

.labelCheckbox {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.tableLabelClass {
    font-size: 12px !important;
    text-align: left !important;
    font-weight: bold !important;
    padding-right: 2px;
    text-decoration: underline;
}

.cancelLink {
    font-weight: normal;
    font-family: var(--generalFont, sans-serif);
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #4f5253;
    position: relative;
    top: 20px;
    left: 12px;
}

.timePicker {
    width: 110px;
    border-radius: 3px;
    font-family: var(--generalFont, sans-serif);
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 12px;
    padding-left: 3px;
}

.moreLeft {
		margin-left: 10px;
}

.centerRowRight {
		margin-top: 15px;
		margin-left: 100px;
}

.error {
  color: var(--red, red);
  font-size: 12px;
}

.buttonRow {
	margin-left: 150px;
}

.formLeft {
	margin-left: 10px;
}

.instructions {
	font-size: 12px;
	color: var(--maroon, maroon);
	font-weight: bold;
	margin-left: 15px;
}

.greenInstructions {
  color: green;
	max-width: 500px;
}

.insideDrawer {
	margin-top: 30px !important;
	margin-bottom: 15px !important;
	margin-left: 10px;
}

.moreTop {
	margin-top: 8px;
}

.subHeading {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 4px;
}

.question {
	margin-top: 10px;
}

.commentTextarea {
    border-radius: 5px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 13px;
    width: 100%;
		max-width: 450px;
		margin-right: 8px;
}

.link {
  color: var(--blue, blue);
  cursor: pointer;
  font-size: 12px;
  margin-top: 3px;
  margin-left: 8px;
  margin-right: 8px;
	font-size: 13px;
}

.link:hover {
  color: var(--gold, gold);
}

.inputText {
		margin-top: 8px !important;
    margin-bottom: 1px;
    font-size: 12px;
}

.labelCheckbox {
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
		margin-right: 13px;
}

.phoneText {
		margin-top: 30px;
		martin-left: 9px;
}

.required {
		position: relative;
		top: 6px;
		margin-right: 5px;
}

.birthDate {
	margin-top: 6px;
}

.alertText {
	font-size: 12px;
	text-transform: none;
}

.positionRequired {
	position: relative;
	left: 6px;
	top: -3px;
}

.rowWrap {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
}

.flipped {
		transform: rotate(180deg);
		width: 16px;
}

.menuHeader {
		font-size: 12px;
		font-weight: bold !important;
		cursor: pointer;
		margin-left: 8px;
		margin-top: 2px;
		color: var(--blue, blue);
}

.textDisplay {
	margin-top: 10px !important;
	position: relative;
	left: -17px !important;
}

.iconSmall {
	margin-left: 8px !important;
	margin-top: 1px !important;
	width: 12px !important;
}

.linkPosition {
	margin-top: 4px;
	margin-left: 3px;
}

.remove {
  margin-left: 12px;
  margin-top: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--red, red);
  font-size: 12px;
}

.remove:hover {
  text-decoration: underline;
}

.image {
	width: 150px;
}

.hidden {
	display: none;
}

.muchTop {
  margin-top: 20px;
}
