@import 'variables.css';

/* common */
.container {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
}

.unorderedList {
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-flow:column;
}

.whiteLine {
    color:white;
    opacity: .5;
    width:140px;
    text-align:left;
    margin-left:15px;
    margin-top:10px;
}

.singleDropDown {
  /*margin-top: 6px !important;*/
  margin-left: 4px;
  font-size: 10px;
}

.menuItemContainer {
  display: flex;
  justify-content: flex-start;
  flex-flow:row;
}

.rightArrow {
  float: right;
  margin-top: 8px;

}

.spreadToRight {
  justify-content: space-between !important;
}

.subMenuArrow {
  width: 100%;
  margin-right: 4px;
  cursor: pointer;
}

.workSummary {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: auto;
}

.pageTitle {
    position: relative;
    top: 10px;
}

.error, .label, .classification, .instructions, .labelCredit, .processingError {
    font-family: var(--generalFont, sans-serif);
    font-weight: normal !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 9px;
}

.error {
    color: var(--red, red);
}

.moreMarginBottom {
    margin-bottom: 10px !important;
}

.row {
    display: flex;
    flex-flow: row;
}

.label {
    font-size: 12px;
}

.labelCredit {
    font-size: 12px;
		color: red;
}

.marginLeft {
    margin-left: 10px;
}

.moreBottom {
    margin-bottom: 10px;
}

.submitButton {
    background: linear-gradient(#67ae55, #578843);
  	background-color: #69a74e;
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: white;
  	cursor: pointer;
  	display: inline-block;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	font-weight: bold !important;
  	letter-spacing: 1px;
  	line-height: 116%;
    margin-top: 8px;
  	margin-left: 12px;
  	min-width: 50px;
  	padding: 2px 5px;
  	position: relative;
  	text-align: center;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    outline: none;
}

.submitButton:active {
    transform: scaleX(.89);
    background: linear-gradient(#aec3a9, #578843);
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: gray;
  	cursor: default;
}

.submitButton:hover {
    box-shadow: 0 0 0 1px #297e2d;
}

.classification {
    width: 100%;
    color: white;
    background-color: var(--blue, blue);
    font-size: 12px;
    margin-top: 6px;
    padding-left: 5px;
    border-radius: 3px;
		padding-top: 2px;
		padding-bottom: 2px;
}

.error {
    color: var(--red, red);;
    font-size: 12px;
    opacity: 1;
}

.radio {
    margin-left: 8px;
}

.centerRowRight {
		margin-top: 15px;
		margin-left: 100px;
}

.error {
  color: var(--red, red);
  font-size: 12 px;
}

.instructions {
	font-size: 12px;
  margin-left: 10px;
	color: var(--green, green);
}

.required {
		position: relative;
		top: 6px;
		margin-right: 5px;
}

.processingError {
	 margin-top: 8px;
	font-size: 13px;
	font-weight: bold;
	color: var(--red, red);
}
