@import 'variables.css';

/* common */
.container {
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    margin-left: 15px;
}

.label, .remove, .error, .text, .countText, .link, .heading, .cancelLink {
  font-family: var(--generalFont, sans-serif);
	font-weight: normal !important;
	letter-spacing: normal;
	text-rendering: optimizelegibility;
}

.error {
    color: var(--red, red);
		font-size: 12px;
		margin-left: 10px;
}

.label {
  font-size: 9px;
}

.dateTimePicker {
    margin-top: 0px;
    font-size: 11px;
    border-radius: 4px;
    font-weight: bold;
    width: 100px;
}

.dateColumn {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 12px;
    width: 100px;
}

.dueDateLabel {
    margin-left: 15px;
}

.singleDropDown {
  /*margin-top: 6px !important;*/
  margin-left: 4px;
  font-size: 10px;
}

.remove {
  color: var(--maroon, maroon);
  cursor: pointer;
  font-size: 9px;
}

.tableLabelClass {
  font-size: 8pt !important;
  text-align: left !important;
  font-weight: bold !important;
  padding-right: 2px;
  text-decoration: underline;
  font-family: var(--generalFont, sans-serif);
  font-weight: normal !important;
  letter-spacing: normal;
  text-rendering: optimizelegibility;
}

.firstColumnClass {
    max-width: 50px !important;
    line-height: 2 !important;
    flex-wrap: wrap !important;
}

.rowRight {
    display: flex;
    flex-flow: row;
    margin-top: 15px;
		margin-left: 120px;
}

.submitButton {
    background: linear-gradient(#67ae55, #578843);
  	background-color: #69a74e;
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: white;
  	cursor: pointer;
  	display: inline-block;
  	font-family: var(--generalFont, sans-serif);
  	font-size: 12px;
  	font-weight: bold !important;
  	letter-spacing: 1px;
  	line-height: 116%;
    margin-top: 8px;
  	margin-left: 12px;
  	min-width: 50px;
  	padding: 2px 5px;
  	position: relative;
  	text-align: center;
  	text-rendering: optimizelegibility;
  	text-shadow: 0 1px 2px rgba(0,0,0,.5);
    outline: none;
}

.submitButton:active {
    transform: scaleX(.89);
    background: linear-gradient(#aec3a9, #578843);
  	border: 1px solid;
  	border-color: #3b6e22 #3b6e22 #2c5115;
  	border-radius: 5px;
  	box-shadow: inset 0 1px 1px #a4e388;
  	color: gray;
  	cursor: default;
}

.submitButton:hover {
    box-shadow: 0 0 0 1px #297e2d;
}

.cellSpacing {
    margin-right: 20px;
}

.scrollable {
		overflow-y: auto;
		overflow-x: auto;
		height: auto;
		max-height: 620px;
		padding-right: 10px;
		/* max-width: 320px; */
		width:auto;
}

.dateRow {
    font-size: 11px !important;
		margin-right: 10px;
}

.text {
    font-size: 10px;
    margin-right: 4px;
}

.littleLeft {
		margin-left: 10px;
}

.row {
		display: flex;
		flex-direction: row;
}

.position {
		margin-left: 10px;
		margin-bottom: 10px;
}

.scrollable {
		overflow-y: auto;
		overflow-x: auto;
		height: auto;
		max-height: 130px;
		max-width: 400px;
}

.littleLeft {
		margin-left: 10px;
}

.littleTop {
		margin-top: 10px;
}

.countText {
		font-size: 11px;
		margin-right: 5px;
		margin-left: 0px !important;
		position: relative;
		top: 4px;
}

.link {
		font-size: 12px;
		color: var(--blue, blue);
		text-decoration: none;
		margin-left: 5px;
		cursor: pointer;
		margin-top: 3px !important;
}

.link:hover {
		text-decoration: underline;
}

.muchLeft {
		margin-left: 20px;
}

.iconSmall {
		width: 11px !important;
		margin-right: 3px !important;
		position: relative;
		top: -3px;
}

.heading {
		margin-top: 15px;
		font-size: 13px;
}

.studentSection {
		background-color: var(--lightGray, gray);
		padding-left: 2px;
		padding-top: 4px;
		padding-bottom: 4px;
		border-radius: 4px;
		max-width: 400px;
}

.alertText {
		font-size: 12px;
		text-transform: none;
}

.cancelLink {
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    color: #4f5253;
    margin-top: 10px;
}

.cancelLink:hover {
	text-decoration: underline;
}
